// Variables
$light-purple: #f3eef8;
$purple: #9977c3;
$gold: #c3b777;
$green: #77c37a;
$page-padding: 24px;
$box-radius: 5px;

// Mixins
@mixin nav-shadow {
  box-shadow: 0px 3px 3px -3px rgba(153, 119, 195, 0.75);
  -webkit-box-shadow: 0px 3px 3px -3px rgba(153, 119, 195, 0.75);
  -moz-box-shadow: 0px 3px 3px -3px rgba(153, 119, 195, 0.75);
}

html {
  font-size: 20px;
}

body {
  margin: unset;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Signika Negative", sans-serif;
  padding: unset;
  margin: unset;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $page-padding;
  background-color: $light-purple;
  position: sticky;
  top: 0;
  @include nav-shadow;
  .create-project form {
    display: flex;
    align-items: center;
    height: 1.5rem;
    input {
      &[type="text"] {
        height: 100%;
        max-width: 240px;
        border: 2px solid $purple;
        border-right: none;
        text-indent: 6px;
        font-size: 1rem;
        border-radius: $box-radius;
      }
      &[type="submit"] {
        all: initial;
        height: 100%;
        width: 2rem;
        background-color: $green;
        border: 2px solid $purple;
        border-left: none;
        cursor: pointer;
        text-align: center;
        border-radius: $box-radius;
        @include nav-shadow;
        margin-left: -2px;
      }
    }
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: $page-padding;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.project {
  min-width: 300px;
  max-width: 600px;
  margin: 6px;
  border: 3px solid $purple;
  border-radius: $box-radius;
  .project-heading {
    text-align: center;
    .project-title {
      padding: 6px;
    }
  }
  div.divider {
    background-color: $purple;
    height: 6px;
    width: 40px;
    margin: auto;
  }
  ul.project-items {
    list-style: "🥚";
    // list-style: "\129370";
    li.project-task {
      padding: 6px 12px;
      cursor: pointer;
      .details-complete {
        width: max-content;
        border: 2px solid $purple;
        border-radius: $box-radius;
        background-color: $light-purple;
        padding: 6px;
        display: inline-block;
      }
      &.checkedoff {
        text-decoration: line-through;
        list-style: "🐥";
        // list-style: "\128037";
        .details-complete {
          color: $green;
          text-decoration: none;
        }
      }
      &::marker {
        font-size: 1.5rem;
        color: $green;
      }
      ul.project-task-details {
        list-style: none;
        li:not(:first-of-type) {
          cursor: default;
        }
        &.hidden {
          display: none;
        }
      }
    }
  }
}

.myDiv {
  color: $green;
  cursor: pointer;

  &:hover {
    color: $gold;
  }
}
